<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://kit.fontawesome.com/66502b62f5.js" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>


<div class="container">
    </br>
    <h2>SISCOIN - Sistema Control de Inventario - SAMU VI Region</h2>
    <br action="" method="post" role="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Bodega Central
</h5>
            <p class="card-text">Formulario para el gerenciamiento de insumos y control de inventario de Bodega Central.</p>
            <a href="bc" class="btn btn-primary">Entrar</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">Bodegas Perifericas</h5>
            <p class="card-text">Formulario para el gerenciamiento de insumos y control de inventario de Bodegas Perifericas.</p>
            <a href="bp" class="btn btn-primary">Entrar</a>
          </div>
        </div>
      </div>
    </div>
<div>
<br/>
<p style="text-align:right;"><strong>Contacto:</strong> siscoin.samu@gmail.com</p>
</div>
</div>
</html>
